<html>
<head>
    <style>
        .container {
            text-align: center;
            margin-top: 50px;
        }
        .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Saját listás filmek</h1>
        <a href="/sajatlista" class="button">Ugrás a listához</a>
    </div>
</body>
</html>
